
@media screen and (max-width: 500px){
        
            .image-fluid {
                            width:100%;
                            height: 100%;
            }
        h1.head1 {
                text-align: center;
                font-size: 40px !important;
        }
        .animating-dog {
                margin-left: 20px;
        }
        .uptodate{
                text-align: center;

        }
        .column-part {
                padding-top: 40px;
        }
       
}
@media screen and (max-width: 380px){
        .sign-fluid {
                margin-right: 0;
                border-radius: 15px;
            }
            .btn-sign1 {
                border-radius: 15px;
                margin-top: 10px;
            }
}