@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* { 
            padding: 0;
            margin: 0;
            box-sizing: border-box;

    
}
body {
        font-family: Montserrat !important;
}
.facebook {
                color: #6610f2;
                text-decoration: none;

}
.facebook:hover {
                        color:midnightblue;
                        text-decoration: none;
}
.twitter {
                color: #6610f2;
                text-decoration: none;
}
.twitter:hover {
                color:royalblue;
                text-decoration: none;
}
.image-fluid {
                max-width: 100%vw;
                height:70%vh;
}
.text1 {
                text-align:center !important;
                padding-top:50px;
                
}
h1 {
        font-size: 55px !important;
        letter-spacing:0;
        
}
.para {
        padding-top: 20px;
        font-size: 20px;

}
/* footer signup part */
.signup {
            border:2px solid rgb(194, 194, 194);
            height:50px;
            width: 250px;
            border-radius: 15px 0px 0px 15px;
            padding: 5px;
            margin-right: 0;
        }
.signup:focus {
        background-color:rgb(230, 230, 230);
}
.btn-sign {
            padding: 4px 10px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            background-color:#6610f2;
            font-weight: 200;
            color:white;
            height: 50px;
            border: 0;
            margin-left: -04px;
            
}
.btn-sign:hover {
                background-color: #9465e0;
}
/* top sign up part */
.sign-fluid {
        border:2px solid rgb(194, 194, 194);
        height:45px;
        width: 250px;
        border-radius: 15px 0px 0px 15px;
        padding: 5px;
        margin-right: 0;
    }
.sign-fluid:focus {
    background-color:rgb(230, 230, 230);
}

.btn-sign1 {
        /* padding-right: 10px;
        padding-left: 10px; */
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color:#6610f2;
        font-weight: 200;
        color:white;
        height: 45px;
        border: none;
        padding: 4px 10px;
        margin-left: -04px;
        
}
.btn-sign1:hover {
                background-color: #9465e0;
}

.navigation {
            padding-top: 30px;
            padding-bottom: 80px;

}
.card-col {
            vertical-align: middle;
            text-align:center;
            

}

.second-para {
                padding-top: 20px;
                font-size: 15px;
                margin-right: 15px;

}
.card-col {
                text-align: center;
                vertical-align: middle;
                margin-left: 30px;
                padding-bottom: 50px;
}
.team {
                vertical-align: right;
}
.pitch-investment {
                padding-top: 150px;
                padding-bottom: 150px;
                background-color:#e9e9e9;
}
.more-about {
                padding: 10px 16px;
                background-color: #6610f2;
                color: white;
                text-decoration: none;
                border: none;
                border-radius: 5px;

}
.more-about:hover {
                background-color: #9465e0
}
.about-btn {
                vertical-align: middle;
                text-align: center;
                margin-bottom: 100px;

}
.job-box {
                border: 1px solid grey;
                border-radius: 5px;
                text-align: center;
                height: 250px;
                
}
.job-box2 {
        border: 1px solid rgb(184, 184, 184);
        border-radius: 9px;
        text-align: center;
        background-color: rgb(236, 236, 236);
        margin-bottom: 50px;
        font-weight: 700;
        
}
.job-text {
                font-weight: 800;
}
.uptodate {
                margin-top: 100px;
}

.footer-part {
                background-color:#fafafa;
                padding-top: 100px;
                padding-bottom: 100px
}
.bottom-spacing {
                margin-bottom: 100px;

}
.maillist {
                margin-bottom: 100px;
}
.foot {
                text-align: center;
                margin-bottom: 30px;
            
}
.icons {
                letter-spacing: 10px;
                font-size: 25px;
                color: #6610f2
}
.icons:hover {
                color: #9465e0;
}
footer {
                background-color: #fafafa;
}
.links {
                text-decoration: none;

}

.links:hover{
                color: #9465e0;
                text-decoration: none;
}